.x-label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.dob-info {
    margin: 0;
    margin-bottom: 10px;
}

.mtb-50-10 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#second-page {
    visibility: hidden;
}

.active:target {
    visibility: visible;
}

.wrapper .page-nav-info {
    margin-top: 12px;
    font-weight: 700;
    margin-left: 30px;
    align-self: flex-start;
}

/* Multistep Form Trial */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default */
.tab {
    display: none;
}

.x-close {
    display: none;
    position: absolute;
	top: 20px;
	left: 20px;
	transition: all 200ms;
	font-size: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	color: #ffffff;
}

.btn-close {
    background: none;
    color: white;
    align-self: start;
    border: none;
    cursor: pointer;
}

/* .page-navbar {
    display: flex;
    align-items: space-between;
    justify-content: center;
    border: 1px solid aqua;
    align-self: flex-start;
}
.prev {
    justify-content: center;
    align-self: center;
}*/

.page-nav-info {
    align-self: center;
	margin: 20px 0;
    padding-left: 20px;
} 

/* Customize Experience Tab */

.tab-heading {
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: 0;
}

.terms-info {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.terms-agree {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.terms-agree p {
    font-size: 0.85em;
    color: rgb(212, 212, 212);
}

.inactive-btn {
    background: #b0b0b071;
    color: #000000d7;
}

.blued-btn {
    background: #0095ff;
    color: aliceblue;
}

.mb25 {
    margin-top: 25px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.56em;
}

.bold-lb {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.89em;
}

.account-info {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.account-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #b0b0b071;
    border-radius: 4px;
    padding: 6px 12px;
    gap: 5px;

    /* padding: 18px 8px; */
}

.xname-box {
    width: 100%;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
}

.tab-four {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.tab-four-heading {
    font-size: 1.8em;
    margin: 0;
}

.tab-four-info {
    font-size: 0.89em;
}