<style>
    a {
        text-decoration: none;
        color: #0095ff;
    }
    .btn {
        text-decoration: none;
        margin: 20px auto;
        font-size: 0.98rem;
        background-color: #0095ff;
        color: #f0f8ff;
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 0.25rem;
        font-weight: bold;
    }
</style>

<h3>Hey {{ user.username|title }}</h3>

<p>We all know how fraustrating it can be to forget your password. <br>
There's no need to worry, we've generated a temporary link for you to get started with a new password <br>
</p>
<a class="btn" href="{{ url_for('auth.reset_password', token=token, _external=True) }}">Get a New Password</a>
<br>
<p>
if you cannot click on the link, copy and paste the following URL into a new tab in your browser. <br>
{{ url_for('auth.reset_password', token=token, _external=True) }}
<br>

Sincerely,<br>
The Xcorps Team<br>

NB: Replies to this email address are not monitored. And if you did not make this request then simply ignore this email and no changes will be made.
</p>