{% extends 'layout.html' %}

{% block content %}
    <div class="section">
        <div class="landing-section">
            <div class="landing-section-xlogo side-page-logo">
                <svg width="70%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1">
                    <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                </svg>
            </div>
            <div class="landing-section-content">
                <h1>Happening now</h1>
                <div class="landing-links-register">
                    <h3>Join today.</h3>
                    <div class="landing-link">
                        <a href="#" class="link-btn"><i class="fa-brands fa-google"></i><span class="link-btn-text">Sign up with Google</span></a>
                        <a href="#" class="link-btn"><i class="fa-brands fa-apple"></i></i><span class="link-btn-text">Sign up with Apple</span></a>
                    </div>
                    <div class="or-gap">
                        <span class="dash"></span> or <span class="dash"></span>
                    </div>
                    <div class="landing-link">
                        <a href="#" class="link-btn blue-it"><span class="link-btn-text bl">Create account</span></a>
                    </div>
                    <div class="landing-terms text-muted">
                        By signing up, you agree to the <a href="">Terms of Service</a> and <a href="">Privacy Policy,</a> including <a href="">Cookie Use.</a>
                    </div>
                </div>
                <div class="landing-link small-info">
                    <p>Already have an account?</p>
                    <a href="{{ url_for('auth.login')}}" class="link-btn ghost-style">Sign in</a>
                </div>
                {% include 'login.html'%}
            </div>
        </div>
    </div>
    <div class="footer text-muted">
        <span class="footer-links"><a href="#">About</a> <a href="#">Help Center</a> <a href="#">Terms of Service</a> <a href="#">Privacy Policy</a> <a href="#">Cookie Policy</a> <a href="#">Accessibility</a> <a href="#">Ads info</a> <a href="#">Blog</a> <a href="#">Status</a> <a href="#">Careers</a> <a href="#">Brand Resources</a> <a href="#">Advertising</a> <a href="#">Marketing</a> <a href="#">X for Business</a> <a href="#">Developers</a> <a href="#">Directory</a> <a href="#">Settings</a> <a href="#">© 2023 X Corp.</a></span>
    </div>
    
{% endblock %}