{% extends 'layout.html' %}

{% block content %}
<div class="overlay">
    <div class="wrapper gap-post-sections">
        <div class="post-topnav">
            <a class="" href="{{ url_for( 'users.profile', username=current_user.username) }}"><svg xmlns="http://www.w3.org/2000/svg" width="100" class="small-icon" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg></a>
            <div class="timeline-topnav-user-info">
                <p class="timeline-heading">Edit profile</p>
            </div>
        </div>
        <div class="post-section">
            <div class="post-top-info">
                <div class="user-post-image">
                    <div id="pfp" class="post-profile-image" data-content="url(../static/images/profile_pics/{{ user.image_file }})">
                    </div>
                </div> 
                <span class="post-audience">
                    <select name="post-audience" id="post-audience-select">
                        <option value="Public" selected>Public</option>
                        <option value="Public">Friends</option>
                    </select>
                </span>
            </div>
            <div class="post-text-group">
                <form name="post-form" action="", method="post">
                    {{ form.hidden_tag() }}
                    <div class="postFormContainer">
                        <!-- {{ form.body.label }} -->
                        {{ form.body(class="post-textarea", placeholder="What's happening?") }}
                        {% if form.body.errors %}
                        <ul class="errors">
                            {% for errors in form.body.errors %}
                            <li> {{ errors }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ form.submit(class="post-btn") }}
                </form>
            </div>
                
        </div>
    </div>
</div>
{% endblock %}
