{% extends 'layout.html' %}

{% block content %}
    <div class="x-container">
        <header class="x-section x-pagenavs-container border-x">
            <div class="x-pagenavs-section">
                <div class="x-pagenavs">
                    <div class="x-logo-container">
                        <svg  class="x-pagenavs-logo" width="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1">
                            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                        </svg>
                    </div>
                    <div class="x-pagenavs-links">
                        <div class="x-pagenavs-link"><i class="fa-solid fa-house white-icons x-icon-home"></i> <span>Home</span></div>
                        <div class="x-pagenavs-link"><i class="fa-solid fa-magnifying-glass white-icons x-icon-home"></i><span>Explore</span></div>
                        <div class="x-pagenavs-link"><i class="fa-regular fa-bell white-icons x-icon-home"></i><span>Notifications</span></div>
                        <div class="x-pagenavs-link"><i class="fa-regular fa-envelope white-icons x-icon-home"></i><span>Messages</span></div>
                        <div class="x-pagenavs-link"><i class="fa-regular fa-rectangle-list white-icons x-icon-home"></i><span>Lists</span></div>
                        <div class="x-pagenavs-link"><i class="fa-solid fa-users white-icons x-icon-home"></i><span>Communities</span></div>
                        <div class="x-pagenavs-link">
                            <svg  class="x-premium-icon" width="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1">
                                <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                            </svg>
                            <span>Premium</span>
                        </div>
                        <div class="x-pagenavs-link"><i class="fa-solid fa-user white-icons x-icon-home"></i><span>Profile</span></div>
                    </div>
                    <a href="" class="pagenav-btn">Post</a>
                </div>
                <div class="user-icon-info">
                    <div id="user-icon" class="user-icon" data-content="url(../static/images/profile_pics/{{current_user.image_file}})">
                        <!-- <a href="{{ url_for('users.profile', username=current_user.username)}}">
                            <img class="user-icon-jpg" src="{{ url_for('static', filename='images/profile_pics/'+ current_user.image_file) }}" alt="current user profile picture">
                        </a> -->
                        <!-- Used Javascript to Load all images -->
                    </div>
                    <!-- <a class="user-icon" href="{{ url_for('users.profile', username=current_user.username)}}"></a> -->
                    <div class="user-info">
                        <p class="user-name">
                            <a class="white-icons" href="{{ url_for('users.profile', username=current_user.username)}}">
                                {{ current_user.username|upper }}
                            </a>
                        </p>
                        <p class="user-username">@py{{ current_user.username }}</p>
                    </div>
                    <div class="more-info">
                        <a href="">
                            <i class="fa-solid fa-ellipsis white-icons x-icon-home"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="x-section x-main-section border-x">
            <div class="x-main-item">
                <div class="x-home-timeline">
                    <div class="x-profile-section">
                        <div class="timeline-topnav">
                            <a href="" class="timeline-topnav-btn btn-close"><svg xmlns="http://www.w3.org/2000/svg" width="100" fill="currentColor" class="solid left-arrow-icon" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg></a>
                            <div class="timeline-topnav-user-info">
                                <p class="timeline-username">{{ username|upper }}</p>
                                <p class="gray-small-text smallx-text">169 posts</p>
                            </div>
                        </div>
                        <div class="top-banner">
                            <img class="cover-image" src="{{ url_for('static', filename='images/cover_images/default.png') }}" alt=""> <!-- Add to database as a column -->
                            <!-- <img class="x-profile-image" src="{{ url_for('static', filename='images/profile_pics/'+ user.image_file)}}" alt=""> -->
                            <div class="top-banner-user-info">
                                <div id="pfp" class="x-profile-image" data-content="url(../static/images/profile_pics/{{user.image_file}})"></div> <!-- url('../static/images/profile_pics/default.jpg') -->
                                <a href="" class="profile-edit-btn">Edit Profile</a href="">
                            </div>
                        </div>
                        <div class="user-profile">
                            <div class="user-profile-names">
                                <p class="profile-name">{{ current_user.username|upper }}</p>
                                <p class="gray-small-text">@py{{ current_user.username }}</p>
                            </div>
                            <div class="profile-bio">
                                <p class="x-bio">Think, Build and Evolve -- "Study the past, if you would divine the future." - Confucius</p>
                                <!-- Get user info from database -->
                                <div class="bio-extras">
                                    <div class="location-bio">
                                        <i class="fa-solid fa-location-dot gray-small-text"></i>
                                        <span class="bio-extras-text">Earth-v 2.0</span> 
                                    </div>
                                    <div class="link-bio">
                                        <i class="fa-solid fa-link gray-small-text"></i>
                                        <a href="https://github.com/SurbD" class="" target="_blank">github.com/SurbD</a>
                                    </div>
                                    <div class="joined-bio">
                                        <i class="fa-solid fa-calendar-days gray-small-text"></i>
                                        <span class="bio-extras-text">Joined July 2021</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-follows">
                            <span class="sm-text">30<!-- {User following} --> <span class="gray-small-text">Following</span></span>
                            <span class="sm-text">67<!-- {User followers} --> <span class="gray-small-text">Followers</span></span>
                        </div>
                    </div>
                </div>
                <!-- End of Main Middle Section -->
                <div class=" x-discover-section">
                    <form id="searchform" action="" method="GET">
                        <div class="discover-search-form">
                            <i class="fa-solid fa-magnifying-glass white-icons gray-small-text"></i>
                            <input type="search" name="search" id="x-search" class="discover-search" placeholder="Search">
                        </div>
                    </form>
                    <div class="users-posts-gallery">
                        <!-- This gets the most recent images from posts and displays it using jinja for loop-->
                        <img src="{{ url_for('static', filename='images/cover_images/default.png') }}" alt="">
                        <img src="{{ url_for('static', filename='images/profile_pics/default.jpg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/cover_images/default.png') }}" alt="">
                        <img src="{{ url_for('static', filename='images/profile_pics/default.jpg') }}" alt="">
                        <img src="{{ url_for('static', filename='images/cover_images/default.png') }}" alt="">
                        <img src="{{ url_for('static', filename='images/profile_pics/default.jpg') }}" alt="">
                    </div>
                    <div class="suggested-users">
                        <h4>You might like</h4>
                        <div class="suggested-users-card">
                            <!-- Use a search algorithm to check for users that have something in common from bio, 
                                and give only the first 3 results  with jinja for loop - using dummy info for now -->
                            <div class="user-icon-info"> <!-- suggested-user-info -->
                                <div class="user-icon"></div>
                                <div class="user-info">
                                    <p class="user-name">
                                        <a class="white-icons" href="{{ url_for('users.profile', username='alexhormozi')}}">
                                            Alex Hormozi</a>
                                    </p>
                                    <p class="user-username">@alexhormozi</p>
                                </div>
                                <a href="" class="suggested-follow-btn">Follow</a>
                            </div>
                            <div class="user-icon-info"> <!-- suggested-user-info -->
                                <div class="user-icon firebrick-bg-style"></div>
                                <div class="user-info">
                                    <p class="user-name">
                                        <a class="white-icons" href="{{ url_for('users.profile', username='surbx')}}">
                                            Surb X</a>
                                    </p>
                                    <p class="user-username">@surbx</p>
                                </div>
                                <a href="" class="suggested-follow-btn">Follow</a>
                            </div>
                            <div class="user-icon-info"> <!-- suggested-user-info -->
                                <div class="user-icon coral-bg-style"></div>
                                <div class="user-info">
                                    <p class="user-name">
                                        <a class="white-icons" href="{{ url_for('users.profile', username='divine')}}">
                                            Divine Mukoro</a>
                                    </p>
                                    <p class="user-username">@divinemukoro</p>
                                </div>
                                <a href="" class="suggested-follow-btn">Follow</a>
                            </div>
                        </div>
                        <a href="" class="smallx-text">Show more</a>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
{% endblock %}
