{% extends 'layout.html' %}

{% block content %}
    <div class="overlay" style="visibility: visible; opacity: 1;">
        <div class="wrapper">
            <a class="x-close" onclick="nextPrev(-1)" id="close" href="{{url_for('main.home')}}"><i class="fa-solid fa-xmark" style="color: #ffffff; font-size: 0.9em"></i></a>
            <button type="button" class="x-close btn-close" onclick="nextPrev(-1)" id="prevBtn"><i class="fa-solid fa-arrow-left-long" style="color: #ffffff; font-size: 0.9em;"></i></button>
            <span class="page-nav-info step" id="step"></span>
            <div class="login-wrapper">
                <div class="login-container expand-70">
                    <form name="registration-form" action="" id="regForm" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="tab">
                            <!-- REgistration Form -> Tab 1 -->
                            <h3 class="tab-heading">Create your account</h3>
                            <div class="form-inputs">
                                <div class="contain-inputs">
                                    <div class="input-box">
                                        {{form.username.label(class="form-label")}}
                                        {{ form.username(class="form-lg", placeholder="Username", oninput="this.className", onfocusout="usernameValidate()") }}
                                    </div>
                                    <div id="username-error" class="text-muted red-text"></div>
                                </div>
                                <div class="contain-inputs">
                                    <div class="input-box">
                                        {{form.email.label(class="form-label")}}
                                        {{ form.email(class="form-lg", placeholder="Email", oninput="this.className", onfocusout="emailValidate()" ) }} <!--, onfocusout="checkIfUserExists()"-->
                                    </div>
                                    <div id="email-error" class="text-muted red-text"></div>
                                </div>
                                <div class="dob-input">
                                    {{ form.date_of_birth.label(class="bold-lb") }}
                                    <p class="text-muted">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</p>
                                    <div class="input-box">
                                        {{ form.date_of_birth(class="form-lg", oninput="this.className", onfocusout="checkFormValidity()") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <!-- Customize Your Experience -> Tab 2 -->
                            <h3 class="tab-heading">Customize your Experience</h3>
                            <h4 class="terms-info">Track where you see X content across the web</h4>
                            <div class="terms-agree">
                                <p>X uses this data to personalize your experience. This web browsing history will never be 
                                    stored with your name, email or phone number.
                                </p>
                                <input type="checkbox" name="agreement" id="terms-n-condition" onclick="agreeChecked()">
                            </div>
                            <div class="landing-terms text-muted mbx">
                                By signing up, you agree to our <a href="">Terms</a>, <a href="">Privacy Policy</a>, and <a href="">Cookie Use</a>. 
                                X may use your contact information including your email address and phone number for purposes outlined in our 
                                Privacy Policy. <a href="">Learn more</a>
                            </div>
                        </div>
                        <div class="tab">
                            <!-- Create Your Account -> Tab 3 -->
                            <h3 class="tab-heading">Create Your Account</h3>
                            <div class="account-info">
                                <div class="account-box">
                                    <small class="username-label text-muted ">{{form.username.label}}</small>
                                    <div class="xname-box">
                                        <span class="user-data" id="form-username"></span>
                                        <i class="fa-sharp fa-solid fa-circle-check" style="color: #0aff74;"></i>
                                    </div>
                                </div>
                                <div class="account-box">
                                    <small class="email-label text-muted">{{form.email.label}}</small>
                                    <div class="xname-box">
                                        <span class="email-data" id="form-email"></span>
                                        <i class="fa-sharp fa-solid fa-circle-check" style="color: #0aff74;"></i>
                                    </div>
                                </div>
                                <div class="account-box">
                                    <small class="dob-label text-muted">{{form.date_of_birth.label}}</small>
                                    <div class="xname-box">
                                        <span class="dob-data" id="form-date_of_birth"></span>
                                        <i class="fa-sharp fa-solid fa-circle-check" style="color: #0aff74;"></i>
                                    </div>
                                </div>
                            </div>
                            <small class="landing-terms text-muted">By signing up, you agree to our <a href="">Terms of Service</a> and 
                                <a href="">Privacy Policy</a>, including Cookie Use. Twitter may use your contact information, including 
                                your email address and phone number for purposes outlined in our Privacy Policy, like keeping your account 
                                secure and personalizing our services, including ads. <a href="">Learn more</a>. Others will be able to 
                                find you by email or phone number, when provided, unless you choose otherwise <a href="">here</a>.</small>
                        </div>
                        <div class="tab">
                            <!-- Code Verification -> Tab 4 -->
                            <div class="tab-four">
                                <h3 class="tab-four-heading">We Sent you a Code</h3>
                                <small class="tab-four-info text-muted">Enter it below to verify <span id="user-email-data"></span>.</small>
                            </div>
                            <div class="tab-four-input">
                                <div class="input-box">
                                    {{ form.verification_code.label(class="form-label") }}
                                    {{ form.verification_code(class="form-lg", placeholder="Verification Code", oninput="this.className") }}
                                </div>
                                <a href="" class="text-muted blue-text">Didn't recieve email?</a>
                            </div>
                        </div>
                        <div class="tab">
                            <!-- Password Input Form -> Tab 5 -->
                            <div class="tab-four">
                                <h3 class="tab-four-heading">You'll need a password</h3>
                                <small class="tab-four-info text-muted">Make sure it's 8 characters or more.</small>
                            </div>
                            <div class="tab-four-input">
                                <div class="input-box">
                                    {{ form.password.label(class="form-label") }}
                                    {{ form.password(class="form-lg", placeholder="Password", oninput="this.className") }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group landing-link">
                            {{ form.submit(class="btn-submit link-btn mtb-50-10", id="submitBtn", style="display: none;")}}
                            {{ form.submit(class="btn-submit link-btn mtb-50-10", id="nextBtn", onclick="nextPrev(1)", style="display: inline;")}}
                        </div>
                    </form>
                    {% block scripts %}
                    {{ super() }}
                    <script type="text/javascript" src="{{ url_for('static', filename='js/validate_users.js') }}"></script>
                    <script type="text/javascript" src="{{ url_for('static', filename='js/registration_form.js') }}"></script>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}