{% extends 'layout.html' %}

{% block content %}
    <div class="reset-container">
        <div class="reset-form-box">
            <svg  class="x-pagenavs-logo" width="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1">
                <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
            </svg>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="reset-text">
                    <p class="htext">Request password reset</p>
                    <p class="btext">This will send a confirmation link to your email address, remember that the link expires in 10 minutes.</p>
                </div>
                <div class="reset-form-field">
                    {% if form.email.errors %}
                        <div class="input-box">
                            {{form.email.label(class="form-label")}}
                            {{ form.email(class="form-lg", placeholder="Email") }}
                        </div>
                        <!-- {{ form.email(class="reset-email-field") }} -->
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span class="text-muted red-text mgt-5"> {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="input-box">
                            {{form.email.label(class="form-label")}}
                            {{ form.email(class="form-lg", placeholder="Email") }}
                        </div>
                        <!-- {{ form.email(class="reset-form-field") }} -->
                    {% endif %}
                </div>
                <div class="reset-form-field">
                    {{ form.submit(class="btn-submit link-btn") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}